:host {
    height: 500px;
    width: 520px;
}

.title {
    font-weight: bold;
}

mat-dialog-content {
    padding: 20px;
    width: 520px;

    form {
        display: flex;
        flex-direction: column;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}