:host {
    display: block;
    height: 100%;
    width: 100%;
}

.container {
    overflow: auto;
    height: 823px;
    padding-right: 2rem;

    .mat-h3 {
        margin-top: 1rem;
    }
}

.footer {
    display: flex;
    justify-content: space-between;

    .right {
        display: inherit;
        gap: 1rem;
    }
}