:host {
    display: block;
    width: 100%;
    z-index: 999;
}

mat-toolbar {
    height: 50px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
        display: inherit;
        align-items: center;

        img {
            height: 20px;
            width: auto;
            margin-right: 20px;
        }
    }

    a.active {
        background: rgba(0, 0, 0, .2);
    }
}