<mat-tab-group *ngIf="formGroups.length > 0" animationDuration="0ms" dynamicHeight [(selectedIndex)]="selectedIndex">
    <mat-tab *ngFor="let formGroup of formGroups; index as i" [label]="(formGroup.title.replace('-', ' ')) | titlecase"
        [disabled]="false">
        <h3>{{(formGroup.title.replace('-', ' ')) | titlecase}}</h3>
        <form-input [formGroup]="formGroup.form" [formLabels]="formGroup.formLabels" [formTitle]="formGroup.title"
            [docId]="formGroup.docId">
        </form-input>
        <div class="footer">
            <button mat-flat-button type="button" color="accent" [disabled]="selectedIndex === 0"
                (click)="onBack()">Back</button>
            <div class="right">
                <button mat-button type="button" color="primary" (click)="onReset()">Cancel</button>
                <button mat-flat-button type="button" color="primary" (click)="onSubmit()">Save</button>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Review">
        <h3>Review</h3>
    </mat-tab>
</mat-tab-group>