<mat-tab-group animationDuration="0ms" dynamicHeight [(selectedIndex)]="selectedIndex" #tabGroup>
    <mat-tab *ngFor="let formGroup of formGroups; index as i" [label]="(formHeadings[i].replace('-', ' ')) | titlecase">
        <h3>{{(formHeadings[i].replace('-', ' ')) | titlecase}}</h3>
        <form-input [formGroup]="formGroup" [formLabels]="formLabels[i]" [submit]="formGroup" [section]="section"
            [subSection]="subSection"></form-input>
        <div class="footer">
            <button mat-flat-button type="button" color="primary" (click)="onReset()">Cancel</button>
            <button mat-flat-button type="button" color="primary" (click)="onSubmit(formGroup)">Save</button>
        </div>
    </mat-tab>
    <mat-tab label="Review">
        <h3>Review</h3>

    </mat-tab>
</mat-tab-group>