:host {
    display: block;
    height: 100%;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

mat-divider {
    margin: 1rem 0;
}