:host {
    display: block;
    height: 100%;
    width: 100%;
}

.mat-h3 {
    margin-top: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: space-between;

    .right {
        display: inherit;
        gap: 1rem;
    }
}

mat-divider {
    margin: 1rem 0;
}