<mat-tab-group class="mat-tab-group" *ngIf="chartGroups && chartGroups.length > 0" animationDuration="0ms" dynamicHeight
    [(selectedIndex)]="selectedIndex" mat-stretch-tabs="false">
    <mat-tab *ngFor="let chartGroup of chartGroups; index as i"
        [label]="(chartGroup.title.replace('-', ' ')) | titlecase">
        <ng-template mat-tab-label>
            <span>{{(chartGroup.title.replace('-', ' ')) | titlecase}}</span>
        </ng-template>
        <div class="header">
            <h3 class="mat-h3">{{(chartGroup.title.replace('-', ' ')) | titlecase}}</h3>
            <div class="actions">
                <!-- <button mat-flat-button type="button" color="accent" (click)="onRename()">Rename
                    Chart</button> -->

                <button mat-flat-button type="button" color="warn" (click)="onDelete()" [disabled]="i === 0">Delete
                    Chart</button>
                <button mat-flat-button color="accent" (click)="onExport()">Export</button>
            </div>
        </div>
        <organization-chart #orgCharts [nodes]="chartGroup.chartData" [tab]="tab" [section]="section"
            [subSection]="chartGroup.subSection" [clientId]="clientId"
            [documentId]="chartGroup.docId"></organization-chart>
        <div class="footer">
            <div class="actions">
                <button mat-button type="button" color="primary" (click)="onClear()">Clear</button>
            </div>
            <div class="actions">
                <button mat-button type="button" color="primary">Cancel</button>
                <button mat-flat-button type="button" color="primary" (click)="onSubmit()">Save</button>
            </div>
        </div>
    </mat-tab>
    <mat-tab color="primary" style="pointer-events: auto">
        <ng-template mat-tab-label>
            <button class="add_tab" mat-button color="primary" (click)="addTab($event)">
                <mat-icon>add</mat-icon>
            </button>
        </ng-template>
    </mat-tab>
</mat-tab-group>