<div class="container">
    <h1>Welcome to Lifion Accelerator</h1>
    <h2>Onboarding clients made easy with the Lifion Accelerator</h2>

    <div class="grid">
        <a routerLink="/clients">
            <card-shortcut title="Clients" icon="people"
                description="Onboard new clients and manage existing clients"></card-shortcut>
        </a>
        <a routerLink="/">
            <card-shortcut title="Questions" icon="format_list_numbered"
                description="Manage questions posed to the client"></card-shortcut>
        </a>
    </div>
</div>