<div class="container">
    <h1 class="mat-headline-3">Welcome to Lifion Accelerator</h1>
    <h2 class="mat-headline-4">Catalyzing Client Success: The Power of an Accelerator System</h2>

    <div class="grid">
        <a routerLink="/view/clients">
            <card-shortcut title="Clients" icon="people"
                description="Onboard new clients and manage existing clients"></card-shortcut>
        </a>
        <a routerLink="/">
            <card-shortcut title="Questions" icon="format_list_numbered"
                description="Manage questions posed to the client"></card-shortcut>
        </a>
    </div>
</div>