nav {
    border-bottom: 1px solid #e6e6e4;

    mat-toolbar {
        background: #ffffff;
        height: 60px !important;

        .client {
            width: 400px;
            display: flex;
            align-items: center;

            .avatar {
                background: lightsalmon;
                border-radius: 50%;
                width: 45px;
                height: 45px;
                text-align: center;
                line-height: 45px;
                margin-right: 10px;
                font-weight: bold;
            }
        }

        .title {
            font-size: 18px;
            font-weight: bold;
        }

        mat-nav-list {
            margin-left: 16px;
            padding: 0;
            display: flex;

            span {
                font-size: 13px;
                font-weight: bold;
            }

            a {
                height: 56px !important;
                width: auto;
                margin-right: 5px;
            }

            .active {
                border-bottom: 3px solid #26318B !important;
            }
        }
    }
}