footer {
    height: 61px;
    background: whitesmoke;
    border-top: 1px solid #e6e6e4;

    .container {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;

        img {
            width: auto;
            height: 30px;
            margin-left: 10px;
        }
    }


}