<div class="add_icon" (click)="addRootNode()" *ngIf="nodes.length === 0">
    <mat-icon>add_box_outlined</mat-icon>
    <p>Click to add a root structure</p>
</div>
<div class="zoom">
    <button mat-mini-fab><mat-icon>add</mat-icon></button>
    <button mat-mini-fab><mat-icon>remove</mat-icon></button>
</div>
<div class="center">
    <button mat-raised-button>Recenter</button>
</div>
<div class="chart" #chart></div>
<div class="footer">
    <div class="actions">
        <button mat-flat-button type="button" color="accent">Back</button>
        <button mat-button type="button" color="primary" (click)="onClear()">Clear</button>
    </div>
    <div class="actions">
        <button mat-button type="button" color="primary">Cancel</button>
        <button mat-flat-button type="button" color="primary" (click)="onSubmit()">Save</button>
    </div>
</div>