:host {
    display: block;
    height: 100%;
    width: 100%;
}

.container {
    width: calc(100% - 300px);
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}