html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-snack-bar-container {


  &.custom {
    margin: 0 !important;
    position: absolute;
    bottom: 100px;
  }

  &.success {
    --mdc-snackbar-container-color: #00C853;
  }

  &.error {
    --mdc-snackbar-container-color: #d50000;
  }
}