@use '@angular/material' as mat;
// Plus imports for other components in your app.

@include mat.core();

$mat-primary: mat.define-palette(mat.$indigo-palette, 900);
$mat-accent: mat.define-palette(mat.$pink-palette, 700);
$mat-warn: mat.define-palette(mat.$red-palette);

$app-theme: mat.define-light-theme((color: (primary: $mat-primary, accent: $mat-accent, warn: $mat-warn )));

@include mat.all-component-themes($app-theme);